MJ_APIKEY_PUBLIC=MJ_APIKEY_PUBLIC
MJ_APIKEY_PRIVATE=MJ_APIKEY_PRIVATE
MJ_EMAIL=MJ_EMAIL
DATABASE_IP=DATABASE_IP
DATABASE_ADAPTER_USER=DATABASE_ADAPTER_USER
DATABASE_ADAPTER_PASSWORD=DATABASE_ADAPTER_PASSWORD
